.navigationPanel {
    width: 200px;
    height: 100vh;
    background-color: white;
    color: black;
    border-right: 1px solid rgb(218, 220, 224);
}

.PortalLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

.FeaturesAndContainers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    margin: 0px 5px;
    /* padding-left: 20px; */
}

.FeaturesAndContainers>div {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 2px 0px;
    transition: .5s;
}

.FeaturesAndContainers a {
    color: black;
    width: 100%;
    padding: 10px 20px;
    border-radius: 8px;
}

.FeaturesAndContainers>div:hover {
    background-color: #0d2e61;
    border-radius: 8px;
    transform: translatex(5px);
    transition: .5s;
}

.FeaturesAndContainers>div:hover a {
    color: white;
    padding: 10px 20px;
}

.FeaturesAndContainers .activeLink a {
    color: white !important;
}

.activeLink {
    background-color: #0d2e61;
    color: white !important;
    padding: 8px 12px;
    display: block;
    /* Ensure it covers the entire div */
    border-radius: 8px;
    /* Optional: for rounded corners */
}